<div class="homepage-hero-module">
    <div class="video-container">
        
        <div class="title-container">
            <h2 class="text-white text-thin">Songzi</h3>
            <h3 class="text-white text-thin">Hottest Music Videos</h3>
        </div>

        <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="/video2/MP4/cheer.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="/video2/WEBM/cheer.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
        
        <div class="poster hidden">
            <img src="/video2/Snapshots/cheer.jpg" alt="">
        </div>
    </div>
</div>

<div class ="video_table">
  <table class="container">
    <tbody> 
      <tr>
        <td><div class="col-sm-8">
           <iframe width="600" height="338" src="https://www.youtube.com/embed/lf_wVfwpfp8" frameborder="0" allowfullscreen></iframe>
        </div></td>
        <td><div class="col-sm-8">
           <iframe width="600" height="338" src="https://www.youtube.com/embed/YQHsXMglC9A" frameborder="0" allowfullscreen></iframe>
        </div></td>
      </tr>

      <tr>
        <td><div class="col-sm-8">
           <iframe width="600" height="338" src="https://www.youtube.com/embed/HL1UzIK-flA?list=PLx0sYbCqOb8TBPRdmBHs5Iftvv9TPboYG" frameborder="0" allowfullscreen></iframe>
        </div></td>
        <td><div class="col-sm-8">
           <iframe width="600" height="338" src="https://www.youtube.com/embed/CAME8GDRTfI" frameborder="0" allowfullscreen></iframe>
        </div></td>      
      </tr>  

    </tbody>
  </table>
</div>

<!-- <div class="front_page_bottom_row">
  <div class="col-lg-4">
  </div>

  <div class="col-lg-4">    
    <a class="btn btn-primary" href="/users/new" role="button">Sign Up </a>
    <a class="btn btn-primary" href="/users/new" role="button">Sign In </a></p>
  </div>

  <div class="col-lg-4">
  </div>

</div> -->


  