<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="/stylesheets/bootstrap.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
  
    <title>songzi</title>

  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Songzi</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li ><a href="/songs">All Songs</a></li>
            <li ><a href="/songs/new">Add Song</a></li>
          </ul>

          <div class="nav navbar-nav navbar-right edited">
            <li >
                <% unless current_user%>
                  <a href="/users/new">Sign Up</a>
                <% end %>
            </li>
            <li>
              <% if current_user%>
                <p><a href="/logout">Logout</a></p>
              <% end %>
            </li>
            
            <li>
                <%= current_user.name if current_user%>
                <% unless current_user %>
                  <a href="/users/new">Login</a>
                <% end %>
            </li>
          </div>

        </div>
      </div>
    </nav>

    <section class="main-wrapper">
      <%= @message %>
      <%= yield %>
    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascript/application.js"></script>
  </body>

</html>
