<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="/stylesheets/bootstrap.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
  
    <title>songzi</title>

  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Songzi</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li ><a href="/songs/new">Post a Song</a></li>
            <li class="dropdown">
              <a href="/songs" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Songs <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/songs">See All</a></li>
              </ul>
              <li >
                <% unless current_user%>
                  <a href="/users/new">Sign Up</a></li>
                <% end %>
            </li>
            <li>
              <% if current_user%>
                <p><a href="/logout">Logout</a></p>
              <% end %>
            </li>
            <li>
                <div ><%= current_user.name unless current_user.nil? %></div>
                  <form method = "post" action ="/login">
                    <label>Email</label>
                    <input type = "text" name = "email">      
                    <label>Password</label>
                    <input type="password" name = "password">
                    <button class="btn btn-primary" type="submit" id="submit">Login</button>        
                  </form>
                </div>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><%= current_user.name unless current_user.nil? %></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="main-wrapper">
      <%= @message %>
      <%= yield %>
    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascript/application.js"></script>
  </body>

</html>
